{% extends 'base.html.twig' %}

{% block title %}Sobre Nosotros
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<section class="sn row">
		<div class=" sobre col-lg-11 mr-auto ml-auto ">
			<div class=" txt-sn col-lg-12  col-md-12 ">
				<h1>Sobre Nosotros</h1>
				<p>En TourNow, nos apasiona brindar experiencias de viaje inolvidables a nuestros clientes. Somos una empresa dedicada a la gestión de tours que se especializa en ofrecer emocionantes aventuras y descubrimientos en destinos de toda España.</p>
				<p>Nuestra misión es crear momentos memorables y conexiones auténticas a través de viajes extraordinarios. Nos esforzamos por superar las expectativas de nuestros clientes al proporcionarles un servicio excepcional, itinerarios cuidadosamente diseñados y guías turísticos expertos.</p>
			</div>
			<div class=" img-sn col-lg-7 col-md-12">
				<img class="d-block w-100 c-img" src={{asset("assets/TOURNOW.svg")}} alt="Imagen de nuestro logo ">
			</div>
		</div>
	</section>

	<div class=" try row">
		<div class=" a-txt col-lg-4 mr-auto ml-auto d-block col-md-10">
			<div class="">
				<h1>¿Qué hace que Tournow sea único?</h1>
				<p>En TourNow, te ofrecemos una amplia gama de destinos únicos para descubrir en España. Desde las vibrantes calles de Barcelona hasta los encantadores pueblos blancos de Andalucía, cada destino tiene su propia belleza y singularidad.</p>
			</div>
		</div>
		<div class=" a-img col-lg-6 d-block w-100 col-md-12 d-block">
		<img class="d-block w-100 " src={{asset("images/unico.png")}} alt="Imagen de nuestro logo ">
		</div>
	</div>


	<div class=" try row">
	
		<div class=" a-img col-lg-6 d-block w-100 col-md-12 d-block">
				<img class="d-block w-100 " src={{asset("images/unico.png")}} alt="Imagen de nuestro logo ">
		</div>

		<div class=" a-txt col-lg-4 mr-auto ml-auto d-block col-md-10">
			<div class="">
				<h1>¿Qué hace que Tournow sea único?</h1>
				<p>En TourNow, te ofrecemos una amplia gama de destinos únicos para descubrir en España. Desde las vibrantes calles de Barcelona hasta los encantadores pueblos blancos de Andalucía, cada destino tiene su propia belleza y singularidad.</p>
			</div>
</div>
		
	</div>

{% endblock %}
